@font-face {
    font-family: 'Poiret One', cursive;
    src: url(./fonts/PoiretOne-Regular.ttf);
}
@font-face {
    font-family: 'Open Sans', sans-serif;
    src: url(./fonts/OpenSans-Regular.ttf);
}

.full_width {
    width: 100%;
}

label {
    margin: 0.6em 0 0.3em ;
}

input,
select,
textarea {
    font-size: 1rem;
    padding: 0.5em 1em;
    border: 1px solid #2c3e50;
    font-size: 1rem;
    outline: none;
    transition: all ease-in-out 0.15s;
    box-sizing: border-box;

    &:focus {
      box-shadow: 0 0 3px 0px #2c3e50;
    }
}

select {
    padding: 0.5em;
}

input[type = "file"] {
    padding: 0;
    border: none;
}

.good__input {
    width: 100%;
    max-width: initial;
    min-width: initial;
  }
